<p style="color: green"><%= notice %></p>

<h1>EveryEuro</h1>
<hr>

<div id="months">
  <% @months.each do |month| %>
    <%= render month %>
    <p>
      <%= link_to "Show #{month.name}", month %>
    </p>
  <% end %>
</div>

<%= link_to "New month", new_month_path %>
