<div id="<%= dom_id budget %>">
  <p>
    <h3><strong>Year:</strong>
    <%= budget.year %></h3>
  </p><br>

  <table border="2">
    <tr>
      <th width="70">Item</th>
      <th width="70">January</th>
      <th width="70">February</th>
      <th width="70">March</th>
      <th width="70">April</th>
      <th>May</th>
      <th>June</th>
      <th>July</th>
      <th>August</th>
      <th>September</th>
      <th>October</th>
      <th>November</th>
      <th>December</th>
    </tr>
    <tr>
      <td width="70">Income</td>
      <td align="right">1</td>
      <td align="right">2</td>
      <td align="right">3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <br>
</div>
