{% extends "layout.html" %}

{% block body %}

  <h3>Month name 2020</h3><hr>
  <form>
    <h4>Income</h4>
    Salary <input type="number" name="salary" />
    <h4>Housing</h4>
    Mortgage/Rent <input type="text" name="mortgage_rent" /><br />
    Electricity <input type="text" name="electricity" /><br />
    Insurance <input type="text" name="insurance" /><br />
    Internet <input type="text" name="internet" />

    <h4>SUM</h4>

    <h4>Transportation</h4>
    Ticket <input type="text" name="ticket" />
    <h4>Food</h4>
    Groceries <input type="text" name="groceries" /><br />
    Restaurants <input type="text" name="restaurants" />
    <h4>Debt</h4>
    Credit cards <input type="text" name="creditcard" /><br />
    Other loans <input type="text" name="otherloans" /><br />
    <table>
      <tr>
        <th align="left">Others</th>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" name="phone" /></td>
      </tr>
      <tr>
        <td>Travel</td>
        <td><input type="text" name="travel" /></td>
      </tr>
    </table>

    <h4>Others 2</h4>
    Phone <input type="text" name="phone" /><br />
    Travel <input type="text" name="travel" /><br />
    Gym <input type="text" name="gym" /><br />
    Doctor <input type="text" name="doctor" /><br />
    Medicine <input type="text" name="medicine" /><br />
    <h4>Savings</h4>
    Savings account <input type="text" name="savingsaccount" />
  </form>

{% endblock %}
