{% extends "layout.html" %}

{% block body %}
<h3>January</h3>
{% for month in all_months %}
  <h6>{{ month.left_to_budget }} left to budget</h6>
{% endfor %}
<br />
<form method="POST" action="{{ url_for('create_jan') }}">
  <table>
    <tr>
      <td>{{ form.salary.label }}</td>
      <td>{{ form.salary }} {% for month in all_months %} {{ month.salary }} {% endfor %}</td>
      <td>
        <ul>{% for error in form.salary.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>{{ form.mortgagerent.label }}</td>
      <td>{{ form.mortgagerent }} {% for month in all_months %} {{ month.mortgagerent }} {% endfor %}</td>
      <td>
        <ul>{% for error in form.mortgagerent.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
      </td>
    </tr>
  </table>

  {% if all_months is defined %}
    defined, {{ all_months }}
  {% endif %}
  <br />
  {% for month in all_months %}
    {{ month.month }} {{ month.name }} {{ month.salary }} {{ month.mortgagerent }} {{ month.left_to_budget }} <br />
  {% endfor %}


  <br/>
  <input type="submit" value="Count monthly balance"/>
  <br /><br />
<!-- summary and reporting part -->
  <table border="1">
  {% for month in all_months %}
    <tr><th>Item</th>
        <th><center>Planned</center></th>
        <th><center>Received/Spent</center></th></tr>
    <tr><td>Salary</td>
        <td align="right">{{ month.salary }}</td>
        <td align="right">...</td></tr>
    <tr><td>Mortgage/rent</td>
        <td align="right">{{ month.mortgagerent }}</td>
        <td align="right">...</td></tr>
    <tr><td>Food</td>
        <td align="right">...</td>
        <td align="right">...</td></tr>
  {% endfor %}
  </table>
</form>

<br /><hr />
{% endblock %}
