{% extends "layout.html" %}

{% block body %}
<h3>January</h3><br />

new form using BudgetForm
<form method="POST" action="{{ url_for('create_jan') }}">
  <table>
    {{ form.month.label }}
    <tr>
      <td>{{ form.salary.label }}</td>
      <td>{{ form.salary }}</td>
      <td>
        <ul>{% for error in form.salary.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>{{ form.mortgagerent.label }}</td>
      <td>{{ form.mortgagerent }}</td>
      <td>
        <ul>{% for error in form.mortgagerent.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
      </td>
    </tr>
  </table>

  {% if all_months is defined %}
    defined, {{ all_months }}
  {% endif %}
  <br />
  {% for month in all_months %}
    {{ month.month }} {{ month.salary }} {{ month.mortgagerent }} {{ month.balance }} <br />
  {% endfor %}


  <br/>
  <input type="submit" value="Count monthly balance"/>
  <br /><br />
<!-- summary and reporting part -->
  <table border="1">
  {% for month in all_months %}
    <tr><th>Item</th>
        <th><center>Amount</center></th></tr>
    <tr><td>Salary</td>
        <td align="right">{{ month.salary }}</td></tr>
    <tr><td>Mortgage/rent</td>
        <td align="right">{{ month.mortgagerent }}</td></tr>
    <tr><td>Balance</td>
        <td align="right">{{ month.balance }}</td></tr>
  {% endfor %}
  </table>
</form>

<br /><hr /><br />
{% endblock %}
