{% extends "layout.html" %}

{% block body %}
<h3>January</h3><br />

<form method="POST" action="{{ url_for('create_jan', salary=salary, rent=rent) }}">
  <table border="1">
    old form
    <tr>
      <th>Item</th>
      <th><center>Amount</center></th>
    </tr>
    <tr>
      <td>Salary</td>
      <td width="100"><input type="number" name="salary"/></td>
    </tr>
    <tr>
      <td>Rent</td>
      <td width="100"><input type="number" name="rent"/></td>
    </tr>
    <input type="submit" value="Count monthly balance"/>
  </table>
</form>

<br /><br /><br /><br />
new form using BudgetForm
<form method="POST" action="{{ url_for('create_jan') }}">
  <table border="1">
    <tr>
      <td>{{ form.salary.label }}</td>
      <td width="100"><input type="number" name="salary"/></td>
    </tr>
    <tr>
      <td>{{ form.mortgagerent.label }}</td>
      <td width="100"><input type="number" name="rent"/></td>
    </tr>
  </table>

  <br/>
  <input type="submit" value="Count monthly balance"/>
  <table border="1">
    <tr><td>Balance</td>
        <td><input type="number" name="balance"/></td></tr>
  </table>
</form>

{% endblock %}
