{% extends "layout.html" %}

{% block body %}

  <h3 align="center">Overview</h3>

  <table align="center" border="1">
    <tr>
      <th>Month</th>
      <th>Income</th>
      <th>Expenses</th>
      <th>Savings</th>
    </tr>
    <tr>
      <td>Jan</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <td>Feb</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <td>Mar</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

  </table>

{% endblock %}
